{% load static %}
<html>
    <head>
        <title>Alfred Grealis' blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
      <div class="page-header">
        {% if user.is_authenticated %}
          <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        {% endif %}
        <h1>Alfred Grealis' Blog</h1>
        <div id="parent">
          <ul id="pages">
              <li><a href="/">Posts</a></li>
              <li><a href="{% url 'cool_work' %}">Cool Works</a></li>
          </ul>
        </div>
      </div>
      <div class="content container">
        <div class="row">
          <div class="col-md-8">
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>
      <img src="https://www.logolynx.com/images/logolynx/3e/3e27fa2dc8789aaa342b2f16f128a6ed.png">
    </body>
</html>
