@font-face {
    font-family: 'flower';
    src: url('/static/fonts/IndieFlower.ttf') format('truetype');
}

@font-face {
    font-family: 'girl';
    src: url('/static/fonts/GirlOnARoof.ttf') format('truetype');
}

.back {
    background-image: linear-gradient(#ffeded, #e5dcd3);
    background-size: 100% 100%;
}

.content-holder {
    background-image: url("https://data.whicdn.com/images/312617426/original.gif");
    background-size: 1280px, 851px;
    background-repeat: no-repeat;
    background-position: 50% 200px;
}

.page-header {
    margin-top: 0;
    padding: 20px 20px 20px 20px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #c6417f;
    font-size: 36pt;
    text-decoration: none;
}

.page-header button {
  width: 50%;
  float: left;
  height: 40px;
  font-family: 'girl';
  background-color: #99418d;
  transition: background-color 0.5s;
  color: white;
  border: none;
}

.page-header button:hover {
  background-color: #ffc4f9;
  color: black;
}

/* + */
.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

h1, h2, h3, h4 {
    font-family: 'girl';
    color: #880088;
}


hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}


.date {
    color: #828282;
}

.post-text {
    color: #000000;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.content-container {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  align: center;
  border: 0px;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 5% 0px 5% 0px;
}

.row {
  margin-left: auto;
  margin-right: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.post {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    transition: background-color 0.5s;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 10px 10px 10px;
}

.post-link {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    transition: background-color 0.5s;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 10px 10px 10px;
}

.post-link:hover {
    background-color: rgba(158, 169, 229, 0.8);
}

.post-link a:hover {
    text-decoration: none;
}
